body {
  background: black;
}

.backgroundImage {
  background-image: url(../images/vectorBar.png);
  position: fixed;
  background-position: center;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  filter: blur(20px);
}

.app-title {
  color: rgba(255, 255, 255, 1);
  position: fixed;
  left: 4vw;
  top: 8vh;
  text-align: center;
  font-size: 2.5vmin;
  width: 22vmin;
  border-left: 3px solid rgba(255, 255, 255, 0.8);
  border-right: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 100vmin;
}

.btn {
  border-radius: 100px;
}

.scoreKeeper {
  position: fixed;
  text-align: center;
  left: 4vw;
  top: 50vh;
  margin-top: -100px;
  width: 22vmin;
  height: 200px;
  color: white;
}

.navBtn {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 200px;
  margin-bottom: 40px;
}

.scoreBox {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.playerScore {
  font-size: 3em;
}

.gameDrinkName {
  color: white;
  font-size: 3em;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
}

.container {
  position: relative;
  z-index: 50;
}

.drinkThumbs img {
  position: relative;
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
}

.drinkThumbs {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 250px;
  height: 300px;
  margin: 10px;
}

.drinkName {
  display: block;
  margin-top: 10px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
}

.searchView {
  text-align: center;
}

.randomThumb {
  margin: 100px auto;
  display: block;
  position: relative;
}

.randomThumb img {
  position: relative;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.randomName {
  display: block;
  margin-top: 10px;
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.searchBlock {
  position: relative;
  margin: 0 auto;
  width: 40vw;
  text-align: center;
}

.searchBar {
  position: relative;
  margin: 10vh auto 2vh auto;
  width: 40vw;
  text-align: center;
}

.searchBtn {
  border-radius: 100px;
  background-color: black;
  color: white;
  margin-bottom: 20px;
  width: 200px;
  font-size: 1.2em;
}

textarea:focus, input:focus{
    outline: none;
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: none;
}

*:focus {
    outline: none;
}

input {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  border: none;
  color: white;
  border-bottom: 2px solid black;
  width: 100%;
  font-size: 2.7em;
  padding: 10px;
  border-radius: 10px;
}

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.4);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.4);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.4);
}

:-ms-input-placeholder {
   color: rgba(255, 255, 255, 0.4);
}

.modalOpen {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #262626;
  background-image: url(../images/wood.jpeg);
  background-size: contain;
  background-position: center;
}

.modalContent {
  color: white;
  font-weight: bold;
  padding: 5vh 5vw;
}

.close {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.5);
  opacity: inherit;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.close:hover,
.close:focus {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.25);
  transition: text-shadow 0.1s, color 0.1s;
  opacity: inherit;
  text-decoration: none;
  cursor: pointer;
}

.btnModal {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  color: #C46538;
  position: absolute;
  padding: 10px 40px;
  bottom: 5vh;
  left: 5vw;
}

.btnModal:hover,
.btnModal:focus {
  color: #C46538;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.1s;
}

.modalClosed {
  display: none;
}

.gameDrink {
  position: fixed;
  right: 22vw;
  margin-top: 50vh;
  height: 80vh;
  top: -40vh;
  text-align: center;
}

.ingredientArea {
  margin-top: 10vh;
  margin-left: 15vw;
  width: 240px;
  text-align: center;
}

.currentDrinkThumb {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.currentDrinkThumb img {
  position: relative;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.ingredientArea button {
  width: 240px;
  margin-bottom: 20px;
}

.ingredientArea h4 {
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
}

.ingredientSlot {
  position: relative;
  display: block;
  width: 240px;
  height: 100px;
  background-color: black;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-align: left;
  font-size: 1.2em;
  margin: 10px 0px;
  padding: 10px;
  vertical-align: middle;
}

.ingredientSlot img {
  height: 100%;
  margin: 0px 10px;
  object-fit: contain;
  position: relative;
  display: inline;
  float: left;
  clear: both;
}

.ingredientSlot p {
  position: relative;
  display: inline;
  vertical-align: middle;
  line-height: normal;
}

.ingredient {
  position: relative;
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  width: 250px;
  height: 260px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 10px;
}

.ingredient img {
  position: relative;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  pointer-events: none;
}

.ingredientName {
  display: block;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.5);;
  font-size: 1.5em;
  font-weight: bold;
  pointer-events: none;
}

.gameDrink .btn {
  margin-top: 40px;
  width: 240px;
}

.revealed h1 {
  font-size: 5em;
  margin-bottom: 10vh;
}

.revealedSummary {
  margin: 40px 0px;
  border-left: 1px solid white;
}

.revealedDrink {
  margin: 0px 40px;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 500px;
  float: left;
}

.revealedDrink img {
  position: relative;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.revealedRecipe {
  margin: 40px 0px;
  padding-left: 40px;
  border-left: 1px solid white;
}

.recipe {
  margin-top: 20px;
}
